#!/bin/bash

#*****************************************************************************#
#                                                                             #
#   Copyright 2010 BigglesZX                                                  #
#                                                                             #
#   Licensed under the Apache License, Version 2.0 (the "License");           #
#   you may not use this file except in compliance with the License.          #
#   You may obtain a copy of the License at                                   #
#                                                                             #
#       http://www.apache.org/licenses/LICENSE-2.0                            #
#                                                                             #
#   Unless required by applicable law or agreed to in writing, software       #
#   distributed under the License is distributed on an "AS IS" BASIS,         #
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  #
#   See the License for the specific language governing permissions and       #
#   limitations under the License.                                            #
#                                                                             #
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#

#################################################
#                                               #
#   Welcome to the s3sb config file. Please     #
#   see the README file, which explains the     #
#   options available (or it will, at least,    #
#   when it's been updated..)                   #
#                                               #
#################################################


## General config  ############################################################

# version definition (don't change)
S3SB_VERSION="0.2"

# bucket name for put ops (defaults to "s3sb", but you can override here)
S3SB_BUCKET="s3sb"

# location of the key file (key.txt) relative to the main s3sb script
S3SB_KEYFILE="lib/key.txt"

# location of the secret key file (skey.txt) relative to the main s3sb script
S3SB_SKEYFILE="lib/skey.txt"


## Site Profile config  #######################################################

n=1

# Site 1
SITE_FRIENDLYNAME[$n]="Test Site"
SITE_NAME[$n]="testsite"
SITE_DBHOST[$n]="mysql.example.com"
SITE_DBUSER[$n]="username"
SITE_DBPASS[$n]="p4ssw0rd"
SITE_DBNAME[$n]="testsitedb"
SITE_SITEDIR[$n]="../sites/testsite"
let "n++"

# Site 2
SITE_FRIENDLYNAME[$n]="Test Site 2"
SITE_NAME[$n]="testsite2"
SITE_DBHOST[$n]="mysql2.example.com"
SITE_DBUSER[$n]="username2"
SITE_DBPASS[$n]="p4ssw0rd2"
SITE_DBNAME[$n]="testsitedb2"
SITE_SITEDIR[$n]="../sites/testsite2"
let "n++"

# Site 3
SITE_FRIENDLYNAME[$n]="Test Site 3"
SITE_NAME[$n]="testsite3"
SITE_DBHOST[$n]="mysql3.example.com"
SITE_DBUSER[$n]="username3"
SITE_DBPASS[$n]="p4ssw0rd3"
SITE_DBNAME[$n]="testsitedb3"
SITE_SITEDIR[$n]="../sites/testsite3"
let "n++"

echo ${SITE_FRIENDLYNAME[*]}
echo $n