#!/bin/bash

#*****************************************************************************#
#                                                                             #
#   Copyright 2010 BigglesZX                                                  #
#                                                                             #
#   Licensed under the Apache License, Version 2.0 (the "License");           #
#   you may not use this file except in compliance with the License.          #
#   You may obtain a copy of the License at                                   #
#                                                                             #
#       http://www.apache.org/licenses/LICENSE-2.0                            #
#                                                                             #
#   Unless required by applicable law or agreed to in writing, software       #
#   distributed under the License is distributed on an "AS IS" BASIS,         #
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  #
#   See the License for the specific language governing permissions and       #
#   limitations under the License.                                            #
#                                                                             #
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#

#################################################
#                                               #
#   Welcome to the s3sb config file. Please     #
#   see the README file, which explains the     #
#   options available (or it will, at least,    #
#   when it's been updated..)                   #
#                                               #
#################################################


## General config  ############################################################

# version definition (don't change)
S3SB_VERSION="0.2"

# bucket name for put ops (defaults to "s3sb", but you can override here)
S3SB_BUCKET="s3sb"

# location of the key file (key.txt) relative to the main s3sb script
S3SB_KEYFILE="lib/key.txt"

# location of the secret key file (skey.txt) relative to the main s3sb script
S3SB_SKEYFILE="lib/skey.txt"

# size in bytes the key file should be (shouldn't be changed)
S3SB_KEYSIZE=20

# size in bytes the secret key file should be (shouldn't be changed)
S3SB_SKEYSIZE=40


## Site Profile config  #######################################################

# initialise counter
n=0

# This is what a site config looks like
#
# short name for the site - alphanumerics only - this is used when invoking
# the backup, and also for the name of the site's backup directory in your 
# s3 bucket
#     SITE_NAME[$n]="testsite"
# "friendly name" for the site
#     SITE_FRIENDLYNAME[$n]="Test Site"
# hostname of the site's mysql server
#     SITE_DBHOST[$n]="mysql.example.com"
# username to access the site's database
#     SITE_DBUSER[$n]="username"
# password for the site's database user above
#     SITE_DBPASS[$n]="p4ssw0rd"
# name of the site's database
#     SITE_DBNAME[$n]="testsitedb"
# directory where the site's files are stored (relative to s3sb itself)
#     SITE_SITEDIR[$n]="../sites/testsite"
# very important that this line be left in - increment the counter
#     let "n++"

# Site 1
SITE_NAME[$n]="testsite"
SITE_FRIENDLYNAME[$n]="Test Site"
SITE_DBHOST[$n]="mysql.example.com"
SITE_DBUSER[$n]="username"
SITE_DBPASS[$n]="p4ssw0rd"
SITE_DBNAME[$n]="testsitedb"
SITE_SITEDIR[$n]="../sites/testsite"
let "n++"

# Site 2
SITE_NAME[$n]="testsite2"
SITE_FRIENDLYNAME[$n]="Test Site 2"
SITE_DBHOST[$n]="mysql2.example.com"
SITE_DBUSER[$n]="username2"
SITE_DBPASS[$n]="p4ssw0rd2"
SITE_DBNAME[$n]="testsitedb2"
SITE_SITEDIR[$n]="../sites/testsite2"
let "n++"

# Site 3
SITE_NAME[$n]="testsite3"
SITE_FRIENDLYNAME[$n]="Test Site 3"
SITE_DBHOST[$n]="mysql3.example.com"
SITE_DBUSER[$n]="username3"
SITE_DBPASS[$n]="p4ssw0rd3"
SITE_DBNAME[$n]="testsitedb3"
SITE_SITEDIR[$n]="../sites/testsite3"
let "n++"

echo ${SITE_NAME[@]}
echo "$n site(s) configured"
echo "s3sb config successfully loaded"
echo ""

# Site-finding function (searches the defined site profiles)
index=-1
s3sb_find_site() {
	needle=$1
	index=-1
	for (( i = 0 ; i < ${#SITE_NAME[@]} ; i++ ))
	do
		if [[ "${SITE_NAME[$i]}" == "$1" ]]
		then
			index=$i
		fi
	done
}

s3sb_find_site "testsite"
if [ "$index" -eq "-1" ]
then
	echo "testsite not found"
else
	echo "testsite found at index $index"
fi

s3sb_find_site "nonexistentsite"
if [ "$index" -eq "-1" ]
then
	echo "nonexistentsite not found"
else
	echo "nonexistentsite found at index $index"
fi

echo ""

# sanity checks on key files
if [ -e $S3SB_KEYFILE ]
then
	# check permissions
	if [ -n "$(find $S3SB_KEYFILE -perm -004)" ]
	then
		echo "WARNING: key file is world readable, please see the README"
	fi
	
	# check size
	keysize=$(wc -m $S3SB_KEYFILE | awk '{print $1}')
	if [ "$keysize" != "$S3SB_KEYSIZE" ]
	then
		echo "WARNING: key file should be $S3SB_KEYSIZE bytes, it appears to be $keysize"
	fi
else
	echo "WARNING: key file not found"
fi

if [ -e $S3SB_SKEYFILE ]
then
	# check permissions
	if [ "$(find $S3SB_SKEYFILE -perm -004)" ]
	then
		echo "WARNING: secret key file is world readable, please see the README"
	fi
	
	# check size
	skeysize=$(wc -m $S3SB_SKEYFILE | awk '{print $1}')
	if [ "$skeysize" != "$S3SB_SKEYSIZE" ]
	then
		echo "WARNING: secret key file should be $S3SB_SKEYSIZE bytes, it appears to be $skeysize"
	fi
else
	echo "WARNING: secret key file not found"
fi